body, html {
  font-family: Monaco, sans-serif;
  min-height: 1500px;
  padding: 0;
  /*background:#DCDCDC;*/
  overflow-x: hidden;
  margin: 0;

}

body * {
  box-sizing: border-box;
}

#parent {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: gainsboro;*/
  /*overflow: hidden;*/
}

#parent div {
  cursor: pointer;
}

#parent-wrapper {
  background: gainsboro;
  position: absolute;
  height: 100%;
  width: 100%;

}

#main-popup {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  max-width: 500px;
  padding: 10px;
  z-index: 2000;
  background: rgba(0,0,0,0.2);
  border-bottom: 5px solid rgba(0,0,0,0.3);
}

#main {
  z-index: 500;

}

h1 {
  font-size: 26px;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background: white;
  color: #333333;
  z-index: 1000;
  padding: 20px;
  text-align: center;
  transition: all .5s ease-in;
}

small {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 100;
  color: gray;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all .55s linear;

}
@media screen and (max-width: 500px) {
  small {
    padding-left: 50px;
  }
}

.main {
  position: absolute;
  width: 100%;
  top: 100%;
  height: 100%;
  max-height: 1000px;
  background: #333333;
}
